.list-main {
  background-color: #ccc;
  padding: 5px;
  margin: 5px;
  width: 280px;
  border-radius: 6px;
  box-shadow: -3px -2px 5px 2px rgba(0, 0, 0, 0.15);
  .list-title {
    padding: 10px;
  }
}
