/* Start Variables */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: gray;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  padding: 20px;
  background-color: #2c4755;
  margin-bottom: 10px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  font-size: 20px;
  color: white;
}

.header .links {
  position: relative;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .links:hover ul {
  display: block;
}

.header .links .icon {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .links .icon span {
  background-color: white;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon span:first-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

.header .links ul:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  -webkit-transition: var(--main-duration);
  transition: var(--main-duration);
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

.task-card {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 5px;
}

.task-card .task-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-card .task-form .form-control {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
}

.task-card .task-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-card .task-view .task-edit-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-card .task-view .task-edit-remove .button-edit {
  background-color: #10cab7;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.task-card .task-view .task-edit-remove .delete-item {
  padding: 5px;
  cursor: pointer;
}

.list-main {
  background-color: #ccc;
  padding: 5px;
  margin: 5px;
  width: 280px;
  border-radius: 6px;
  -webkit-box-shadow: -3px -2px 5px 2px rgba(0, 0, 0, 0.15);
          box-shadow: -3px -2px 5px 2px rgba(0, 0, 0, 0.15);
}

.list-main .list-title {
  padding: 10px;
}

.board-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  background-color: gray;
}

.openForButtonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 3px;
  height: 36px;
  padding-left: 10px;
}

.openForButtonGroup {
  margin: 5px;
  padding: 5px;
  width: 250px;
}

.list {
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
}

.card {
  opacity: 0.5;
  color: inherit;
  background-color: inherit;
}

.formButtonGroup {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formButtonGroup button {
  color: white;
  background-color: #5aac44;
  border: none;
  padding: 7px;
  cursor: pointer;
  border-radius: 6px;
}

.formButtonGroup p {
  margin-left: 8px;
  cursor: pointer;
}

.add-textarea {
  resize: none;
  border: none;
  outline: none;
  width: 260px;
  height: 60px;
}

.render-parent {
  margin-left: 8px;
}
/*# sourceMappingURL=App.css.map */